@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

.maintenance-create-custom-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #000000bf;
}

.maintenance-create-custom-modal {
    position: relative;
    z-index: 1001;

    width: 50rem;
    height: auto;
    padding: 2rem;
    border-radius: 0.5rem;

    outline: none;
    background: #C5DBCE;
    box-shadow: 0 1vw 2vw #0000001a;

    font-family: "Saira Condensed", sans-serif;
}

.maintenance-create-container {
    max-height: 90vh;
    overflow-y: auto;
}

.maintenance-create-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.maintenance-create-form label {
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    color: #031D40;
}

.maintenance-create-form input, textarea {
    width: 100%;
    padding: 0.5vw 1vw;
    margin-bottom: 0.8rem;
    
    
    color: black;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 0.8rem;
}

.maintenance-create-form input:focus, textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.maintenance-create-form label[for="date"] {
    grid-column: 1;
    grid-row: 1;
}

.maintenance-create-form #date {
    grid-column: 1;
    grid-row: 2;
}

.maintenance-create-form label[for="title"] {
    grid-column: 2;
    grid-row: 1;
}

.maintenance-create-form #title {
    grid-column: 2;
    grid-row: 2;
}

.maintenance-create-form label[for="description"],
.maintenance-create-form #description {
    grid-column: span 2;
}

.maintenance-create-form textarea {
    max-width: 100%;
}

.maintenance-create-form label[for="items"] {
    grid-column: span 2;
}

.item-input-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    gap: 0.5rem;
    grid-column: span 2;
}