@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Saira Condensed", sans-serif;
}

.track-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "title title"
        "image identifier"
        "image details"
        "history history";

    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    margin-top: 20%;
    height: 100%;
    width: 100%;

    background-color: #08A771;
}

.track-title {
    grid-area: title;
    text-align: center;
    padding: 1rem;
}

.track-image {
    grid-area: image;
    overflow: hidden;
    align-self: baseline;

    width: 100%;
    height: auto;
}

.track-info-card {
    grid-area: identifier;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1.5rem;
    gap: 1rem;

    background-color: #C5DBCE;
    box-shadow: 0 2px 4px #031D40;
}

.track-brand-logo {
    max-width: 10%;
    height: auto;
}

.track-car-identifier {
    text-align: center;
    margin: 0;

    font-size: 2rem;
    font-weight: 800;
    color: #031D40;
}

.track-details-card {
    grid-area: details;
    padding: 1.5rem;

    background-color: #C5DBCE;
    box-shadow: 0 2px 4px #031D40;
}

.track-details-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;

    font-size: 2rem;
    font-weight: 800;
    color: #031D40;
}

.track-service-details-container {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 2rem;
    margin: 2rem 0;
}

.track-details-milage-meter {
    background: #ffffff;
    padding: 0.2rem;
    margin: 0.5rem 0;
}

.track-last-service-chart,
.track-inspection-chart {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 10rem;
    height: 10rem;
    border-radius: 50%;

    background: #ffffff;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.track-last-service,
.track-inspection {
    font-size: 1.2rem;
    font-weight: 500;
    color: #031D40
}

.track-details-milage,
.track-last-service-counter,
.track-inspection-counter {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: #031D40;
}

.track-histroy-card {
    grid-area: history;
    padding: 1.5rem;

    background-color: #C5DBCE;
    box-shadow: 0 2px 4px #031D40;
}

.track-histroy-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;

    font-size: 2rem;
    font-weight: 800;
    color: #031D40;
}

.track-histroy-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    background-color: #066A93;
}

.track-histroy-table th,
.track-histroy-table td {
    padding: 0.75rem;
    text-align: left;
    color: #FFFFFF;
    border-bottom: 1px solid #eee;
}

.track-histroy-table th {
    font-size: 1rem;
    font-weight: 700;
    background-color: #031D40;
}

.full-histroy-redirect {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 1rem;

    color: #031D40;
    text-decoration: none;
    transition: transform 500ms ease;
}

.full-histroy-redirect:hover {
    color: #066A93;
}