@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Saira Condensed", sans-serif;
}

.track-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "title title"
        "image identifier"
        "image details"
        "history history";

    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    margin-top: 20%;
    height: 100%;
    width: 100%;

    background-color: #08A771;
}

.track-title {
    grid-area: title;
    text-align: center;
    padding: 1rem;
}

.track-image {
    grid-area: image;
    overflow: hidden;
    align-self: baseline;

    width: 100%;
    height: auto;
}

.track-info-card {
    grid-area: identifier;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1.5rem;
    gap: 1rem;

    background-color: #C5DBCE;
    box-shadow: 0 2px 4px #031D40;
}

.track-brand-logo {
    max-width: 10%;
    height: auto;
}

.track-car-identifier {
    text-align: center;
    margin: 0;

    font-size: 2rem;
    font-weight: 800;
    color: #031D40;
}

.track-details-card {
    grid-area: details;
    padding: 1.5rem;

    background-color: #C5DBCE;
    box-shadow: 0 2px 4px #031D40;
}

.track-details-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;

    font-size: 2rem;
    font-weight: 800;
    color: #031D40;
}