@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

.navbar-container {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 45vh;
    left: calc(50vw - 100vw/2);
    top: 0px;

    background-color: #C5DBCE;
    background-image: url(/car-background.jpg);
    background-size: 36.4vw;
    background-position: center, center, center;
    background-repeat: no-repeat, no-repeat, no-repeat;

    font-family: "Saira Condensed", sans-serif;
}

.navbar-logo img {
    position: absolute;
    width: 10vw;
    height: auto;
    left: 9vw;
    top: 2vh;

    background-repeat: no-repeat;
    max-width: 100%;
}

.navbar-links {
    display: flex;
    position: absolute;
    align-items: center;

    width: auto;
    height: auto;
    right: 10vw;
    top: 2vh;
    gap: 2vw;
}

.navbar-button {
    font-size: 1.3vw;
    font-weight: 600;
    font-style: normal;

    color: #031D40;
    text-decoration: none;
    cursor: pointer;
}

.signup-button {
    font-size: 1.3vw;
    font-weight: 600;
    font-style: normal;

    padding: 0.5vw 1.5vw;
    background-color: #066A93;

    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    transition: transform 500ms ease;
}

.signup-button:hover {
    transform: scale(1.05);
    transform-origin: 500ms;
    background-color: #08A771;
    color: #FFFFFF;
}

/* Tablet styles */
@media (min-width: 721px) and (max-width: 1320px) {
    .navbar-container {
        height: 30vh;
        background-size: 30vw;
        background-position: center;
    }

    .navbar-logo img {
        top: 2vh;
    }

    .navbar-button {
        font-size: 1.6vw;
    }

    .signup-button {
        font-size: 1.6vw;
    }
}

/* Mobile styles */
@media (min-width: 431px) and (max-width: 720px) {
    .navbar-container {
        height: 25vh;
        background-size: 45vw;
        background-position: center;
    }

    .navbar-logo img {
        width: 12vw;
        top: 2vh;
    }

    .navbar-button {
        font-size: 1.9vw;
    }

    .signup-button {
        font-size: 1.9vw;
    }
}

/* Small-screen styles */
@media (min-width: 321px) and (max-width: 430px) {
    .navbar-container {
        height: 20vh;
        background-size: 60vw;
        background-position: center;
    }

    .navbar-logo img {
        width: 12vw;
        top: 2vh;
    }

    .navbar-button {
        font-size: 2.2vw;
    }

    .signup-button {
        font-size: 2.2vw;
    }
}

/* Extra small screen styles */
@media (max-width: 320px) {
    .navbar-container {
        height: 20vh;
        background-size: 80vw;
        background-position: center;
    }

    .navbar-logo img {
        width: 12vw;
        top: 2vh;
    }

    .navbar-button {
        font-size: 2.5vw;
    }

    .signup-button {
        font-size: 2.5vw;
    }
}