* {
    box-sizing: border-box;
}

.terms-conditions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 1.5rem;
    padding: 5rem;
    margin-top: 20%;
    height: 100%;
    width: 100%;

    background-color: #08A771;
}