@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

.custom-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-color: #000000bf; 
}

.custom-modal {
    position: relative;
    z-index: 1001;

    width: 20vw;
    height: auto;
    padding: 2vw;
    border-radius: 1vw;

    outline: none;
    background: #C5DBCE;
    box-shadow: 0 1vw 2vw #0000001a;
    
    font-family: "Saira Condensed", sans-serif;
}
