@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Saira Condensed", sans-serif;
}

.manage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin-top: 25vh;
    gap: 2vh;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    
    background-color: #08A771;
}

.manage-title {
    font-size: 1vw;
    font-weight: 800;
    color: #FFFFFF;
    text-align: center;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    width: 40vw;
    height: 30vh;
    
    background-color: #066A93;
    box-shadow: 0 2px 4px #031D40;
}

.card-image {
    width: 15vw;
    height: auto;
    margin-right: -7vw;
    border: solid 1px #031D40;
    box-shadow: 0 2px 4px #031D40;
}

.card-list-container {
    display: flex;
    align-items: flex-start;
}

.card-list {
    font-size: 1vw;
    font-weight: 400;

    list-style: none;
    margin: 0;
    padding: 0;

    text-align: left;
    color: #FFFFFF;
    text-shadow: 0 2px 4px #031D40;
}