@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding-top: 5vh;
    background-color: #C5DBCE;
    height: 15vh;
    font-family: "Saira Condensed", sans-serif;
}

.call-to-action {
    font-size: 2vw;
    font-weight: 800;
    font-style: normal;
    color: #031D40;
    text-transform: uppercase;

    padding-left: 5vw;
    cursor: pointer;
    transition: transform 500ms ease;
}

.call-to-action:hover {
    transform: scale(1.05);
    transform-origin: 500ms;
}

.social-links {
    display: flex;
    gap: 1vw;
    padding-right: 5vw;
}

.social-links img {
    width: 2vw;
    height: auto;
    cursor: pointer;
    transition: transform 500ms ease, filter 500ms ease;;
}

.social-links img:hover {
    transform: scale(1.1);
    filter: brightness(0) saturate(100%) invert(30%) sepia(75%) saturate(500%) hue-rotate(180deg);
}

.legal-links {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1vw;
    color: #031D40;
}

.legal-links p {
    margin: 0;
    cursor: pointer;
    transition: transform 500ms ease;
}

.legal-links p:hover {
    color: #066A93;
}