@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding-top: 5vh;
    background-color: #C5DBCE;
    height: 15vh;
    font-family: "Saira Condensed", sans-serif;
}

.call-to-action {
    font-size: 2vw;
    font-weight: 800;
    font-style: normal;
    color: #031D40;
    text-transform: uppercase;

    padding-left: 5vw;
    cursor: pointer;
    transition: transform 500ms ease;
}

.call-to-action:hover {
    transform: scale(1.05);
    transform-origin: 500ms;
}