@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

.edit-custom-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #000000bf;
}

.edit-custom-modal {
    position: relative;
    z-index: 1001;

    width: 20vw;
    height: auto;
    padding: 2vw;
    border-radius: 1vw;

    outline: none;
    background: #C5DBCE;
    box-shadow: 0 1vw 2vw #0000001a;

    font-family: "Saira Condensed", sans-serif;
}

.car-edit-form {
    display: flex;
    flex-direction: column;
}

.car-edit-form input {
    color: black;
    background-color: #FFFFFF;
    padding: 0.5vw 1vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 0.8vw;
    margin-bottom: 1vh;
}

.car-edit-form input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}