@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 50vh;
    margin-top: 45vh;
    overflow: auto;

    background-color: #08A771;
    font-family: "Saira Condensed", sans-serif;
}